@import './reset.scss';

.all-wrap{
    width:1260px;
    height:100vh;
    margin:0 auto;
    background: #ddd;
    .main_container{
        .title{
            >p{
                &:nth-child(1){
                    font-size: 18px;
                    font-weight: 500;
                }
                &:nth-child(2){
                    font-size: 26px;
                    font-weight: 600;
                }
            }
        }
        .contents{

        }
    }
}