*{
    margin:0;
    padding:0;
}

.App{
    width:100%;
    >button{
        display: block;
        margin:50px auto 0;
        width:200px;
        background: #fff;
        border:1px solid #333;
        border-radius:4px;
        padding:14px 0;
        font-size:16px;
        color:#333;
        font-weight: 500;
    }
}